<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Valent France</title>
    <!--flaticon-->

    <!--swiper css-->


    @Styles.Render("~/Content/css")
    @*Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="header__container container">
                <div class="header__contact">
                    <span>(+51) 987 654 321</span>
                </div>
                <p class="header__alert-news">
                    Super values deals - save more wirth coupons
                </p>
                <div class="header__contact">
                    <span> tu locacion </span>
                </div>
            </div>
        </div>

        <nav class="nav container">
            <a href="" class="nav__logo">
                <img src="~/Assets/img/letrasvalent.png" alt="" class="nav__logo-img" />
            </a>
            <nav class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav_link active-link">Inicio</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav_link">Productos</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav_link">Blog</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav_link">contacto</a>
                    </li>

                </ul>

                <div class="header__user-actions">
                    @if (Session["cliente"] == null)
                    {
                        <ul>
                            <li class="nav__item">
                                <a href="@Url.Action("Index", "Login")" class="header__top-action">Iniciar Sesion</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li class="nav__item">
                                <a href="@Url.Action("Index", "Login")" class="header__top-action">Mis compras</a>
                            </li>
                        </ul>
                        <a href="@Url.Action("Carrito", "Tienda")" class="header__action-btn">
                            <img src="~/Assets/img/header/carritos.png" alt="" />
                            <span class="count">3</span>
                        </a>
                    }
                </div>
            </nav>
        </nav>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="">
            <div class="">
            </div>
            <div class="">
                <div class="">
                    <div class="">
                        <p>
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://rfbs23.github.io/portafolio/" target="_blank">FabriDev</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/complementos")
    @RenderSection("scripts", required: false)

</body>
</html>
