
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Perfil</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active">Perfil</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="~/assets/img/icono.jpg" alt="Profile" class="rounded-circle">
                    <span class="py-3">@Session["nombreapellidos"]</span>
                    <h3>@Session["correoUsuario"]</h3>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Descripcion General</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Acerda de la Empresa</h5>
                            <p class="small fst-italic">
                                Valent France es una empresa textil que se destaca por su compromiso con la calidad y la innovación en la industria de la moda.
                            </p>
                            <h5 class="card-title">Detalles del perfil</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Nombres y Apellidos</div>
                                <div class="col-lg-9 col-md-8">@Session["nombreapellidos"]</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Correo Electronico</div>
                                <div class="col-lg-9 col-md-8">@Session["correoUsuario"]</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Compañia</div>
                                <div class="col-lg-9 col-md-8" id="empresa"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Telefono</div>
                                <div class="col-lg-9 col-md-8">(51) 987-654-321 <i class="bi bi-whatsapp"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Direccion de Empresa</div>
                                <div class="col-lg-9 col-md-8" id="direccion"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Distrito</div>
                                <div class="col-lg-9 col-md-8" id="distrito"></div>
                            </div>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <form>                                
                                <div class="row mb-3">
                                    <label for="documento" class="col-md-4 col-lg-3 col-form-label">Doc Identidad</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="documento" type="text" class="form-control" id="documento" value="@Session["documento"]" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre y Apellidos</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="fullName" type="text" class="form-control" id="fullName" value="@Session["nombreapellidos"]" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="correo" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="correo" type="email" class="form-control" id="correo" value="@Session["correoUsuario"]" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Nombre de Usuario</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="company" type="text" class="form-control" id="empresa" value="@Session["nombreUsuario"]" disabled>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>
        document.getElementById('inputImagen').addEventListener('change', function (event) {
            var archivo = event.target.files[0];
            var urlImagen = URL.createObjectURL(archivo);
            document.getElementById('imgproducto').src = urlImagen;
        });

        function limpiarImagen() {
            document.getElementById('imgproducto').src = '~/assets/img/icono.jpg';
        }

        $(document).ready(function() {
            $.ajax({
                url: '@Url.Action("ObtenerInformacionRuc", "Perfil")',
                type: "GET",
                data: { numeroRuc: '20562779869' },
                success: function(response) {
                    var infoRuc = JSON.parse(response);
                    $('#direccion').text(infoRuc.direccion);
                    $('#distrito').text(infoRuc.distrito);
                    $('#empresa').text(infoRuc.nombre);
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        });
    </script>
}