@{
    ViewBag.Title = "Dashboard";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

    <!-- Left side columns -->
    <div class="row">
        <!-- Sales Card -->
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="totalventas">0</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Sales Card -->
        <!-- Revenue Card -->
        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="totalusuarios">0</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Revenue Card -->
        <!-- Customers Card -->
        <div class="col-md-3">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="totalclientes">0</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Customers Card -->
        <!-- Customers Card -->
        <div class="col-md-3">
            <div class="card info-card productos-card">
                <div class="card-body">
                    <h5 class="card-title">Productos <span>| Almacen</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-box2-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="totalproductos">0</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Customers Card -->

        <!-- formulario ventas -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Buscar Ventas realizadas</h5>
                    <form action="@Url.Action("ExportarVentaExcel", "Home")" method="post">
                        <div class="row" style="align-items: center;">
                            <div class="col-sm-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control border-success" id="txtfechainicio" name="fechainicio" placeholder="fecha de inicio">
                                    <label for="txtfechainicio">Fecha de Inicio</label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control border-success" id="txtfechafin" name="fechafin" placeholder="fecha de inicio">
                                    <label for="txtfechafin">Fecha de Fin</label>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control border-success" id="txtidtransaccion" name="idtransaccion" placeholder="fecha de inicio">
                                    <label for="txtidtransaccion">Transacción</label>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="d-grid mb-3">
                                    <button class="btn btn-outline-primary" id="btnbuscar" type="button">Buscar &nbsp; <i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="d-grid mb-3">
                                    <button class="btn btn-outline-success" id="btnexcel" type="submit">Exportar &nbsp; <i class="bi bi-file-earmark-spreadsheet-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- fin formulario ventas -->

        <!-- tabla ventas -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Ventas Realizadas</h5>
                    <table class="display table table-borderless" id="tablaventasrealizadas" width="100%">
                        <thead>
                            <tr>
                                <th>Comprobante</th>
                                <th>Cliente</th>
                                <th>Productos</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Fecha de venta</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- fin tabla ventas -->

        <!-- Mas vendidos -->
        <div class="col-12">
            <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                    <h5 class="card-title">Productos vendidos <span> | hoy</span></h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Vistas</th>
                                <th scope="col">Productos</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img src="~/assets/img/product-1.jpg" alt=""></th>
                                <td class="text-primary fw-bold" style="cursor: pointer;">Ut inventore ipsa voluptas nulla</td>
                                <td>$64</td>
                                <td class="fw-bold">124</td>
                                <td>$5,828</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- fin mas vendidos -->
    </div><!-- End Left side columns -->
</section>

@section scripts {
    <script>
        var tabladata;

        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("VistaTotalCards", "Home")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var objeto = data.resultado;
                    $("#totalclientes").text(objeto.totalcliente)
                    $("#totalventas").text(objeto.totalventa)
                    $("#totalproductos").text(objeto.totalproducto)
                    $("#totalusuarios").text(objeto.totalusuario)
                }
            });

            var fechaActual = new Date();
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                currentText: 'Hoy',
                monthNames: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
                monthNamesShort: ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
                dayNames: ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'],
                dayNamesShort: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
                dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };

            $.datepicker.setDefaults($.datepicker.regional['es']);

            $("#txtfechainicio").datepicker({ dateFormat: 'dd/mm/yy', maxDate: fechaActual }).datepicker('setDate', fechaActual);

            $("#txtfechafin").datepicker({ dateFormat: 'dd/mm/yy', maxDate: fechaActual }).datepicker('setDate', fechaActual);

            var Url = '@Url.Action("Reportes", "Home")' + "?fechainicio=" + $("#txtfechainicio").val() + "&fechafin=" + $("#txtfechafin").val() + "&idtransaccion=" + $("#txtidtransaccion").val()

            tabladata = $("#tablaventasrealizadas").DataTable({
                dom: 'Bfrtip',
                responsive: true,
                ordering: false,
                searching: false,
                "ajax": {
                    url: '@Url.Action("Reportes", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { data: "idtransaccion" },
                    { data: "NombresApellidos" },
                    { data: "nombre" },
                    { data: "precioventa" },
                    { data: "cantidad" },
                    { data: "total" },
                    { data: "FechaVenta" },
                ],
                columnDefs: [
                    {
                        responsivePriority: 1,
                        targets: [6]
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                }
            });
        });

        $("#btnbuscar").on("click", function () {
            var nueva_url = '@Url.Action("Reportes", "Home")' + "?fechainicio=" + $("#txtfechainicio").val() + "&fechafin=" + $("#txtfechafin").val() + "&idtransaccion=" + $("#txtidtransaccion").val()
            tabladata.ajax.url(nueva_url).load();
        })

    </script>
}