@model Entidad.Productos

@{
    ViewBag.Title = "DetalleProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Detalles del Producto</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="@Url.Action("Index", "Tienda")"><i class="lni lni-home"></i> Inicio</a></li>
                    <li><a href="@Url.Action("Masproductos", "Tienda")">Catalogos</a></li>
                    <li>Detalles del Producto</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="data:image/@Html.DisplayTextFor(m => m.Extension);base64,@Html.DisplayTextFor(m => m.base64)" id="current" alt="imagen referencial 1" height="400">
                            </div>
                            <div class="images">
                                <img src="data:image/@Html.DisplayTextFor(m => m.Extension);base64,@Html.DisplayTextFor(m => m.base64)" class="img" alt="imagen referencial 1" height="75">
                                <img src="~/assets/img/product-details/02.jpg" class="img" alt="img referencial 2" height="75">
                                <img src="~/assets/img/product-details/03.jpg" class="img" alt="img referencial 3" height="75">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <h2 class="title">@Html.DisplayTextFor(m => m.nombre)</h2>
                        <p class="category">
                            <i class="lni lni-tag"></i>Codigo:<a href="javascript:void(0)"> @Html.DisplayTextFor(m => m.codigo) </a>
                        </p>
                        Descuento: <span class="badge bg-danger rounded-pill">- @Html.DisplayTextFor(m => m.descuento)%</span>
                        <h3 class="price">
                        </h3>
                        <p class="info-text">@Html.DisplayTextFor(m => m.descripcion)</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group color-option">
                                    <label class="title-label" for="size">Elige el color</label>
                                    <div class="single-checkbox checkbox-style-1">
                                        <h5><span class="badge bg-primary"> @Html.DisplayTextFor(m => m.colores)</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label for="tallas"><i class="lni lni-ruler-alt"></i> &nbsp;Tallas</label>
                                    <select class="form-control" id="tallas">
                                        <option selected>@Html.DisplayTextFor(m => m.oTallasropa.nombretalla)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group quantity" id="form-container">
                                    <label for="color">Cantidad</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number btn-outline-danger" data-type="minus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-minus"><i class="bi bi-dash"></i></span>
                                            </button>
                                        </span>
                                        <input type="number" name="quant[1]" class="form-control input-number text-center" disabled value="1" min="1" max="@Model.stock" required onkeypress="return event.charCode >= 48 && event.charCode <= 57" oninput="validity.valid || (value = '');">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-number btn-outline-success" data-type="plus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-plus"><i class="bi bi-plus"></i></span>
                                            </button>
                                        </span>
                                    </div>
                                    <small class="form-text text-muted">Stock disponible: @Model.stock</small>
                                </div>
                                <div class="form-group" id="notify-button">
                                    <label for="">&nbsp;</label>
                                    <div class="col-lg-8 col-md-8 col-12">
                                        <div class="button cart-button">
                                            <button class="btn"><i class="lni lni-alarm"></i> Notificarme</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                @if (Session["cliente"] != null)
                                {
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <button class="btn agregarcarrito" style="width: 100%;" data-idproducto="@Html.DisplayTextFor(m => m.idproducto)"><i class="lni lni-cart"></i> Agregar al carrito</button>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <a href="@Url.Action("Masproductos", "Tienda")">
                                            <button class="btn"><i class="lni lni-reply"></i>Regresar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Detalles</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                            <h4>Caracteristicas</h4>
                            <ul class="features">
                                <li>Capture 4K30 Video and 12MP Photos</li>
                                <li>Game-Style Controller with Touchscreen</li>
                                <li>View Live Camera Feed</li>
                                <li>Full Control of HERO6 Black</li>
                                <li>Use App for Dedicated Camera Operation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body">
                            <h4>Especificaciones</h4>
                            <ul class="normal-list">
                                <li><span>Weight:</span> 35.5oz (1006g)</li>
                                <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
                                <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
                                <li><span>Operating Frequency:</span> 2.4GHz</li>
                                <li><span>Fabricante:</span> GoPro, USA</li>
                            </ul>
                            <h4>Opciones de Envio:</h4>
                            <ul class="normal-list">
                                <li><span>Courier:</span> 2 - 4 days, $22.50</li>
                                <li><span>Envio Locales:</span> hasta una semana, S/10.00</li>
                                <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                e.target.style.opacity = opacity;
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            var stock = @Model.stock; // Obtiene el stock desde el modelo

            if (stock === 0) {
                $("#form-container").hide();
                $("#notify-button").show();
            } else {
                $("#form-container").show();
                $("#notify-button").hide();
            }
        });

        $(document).ready(function () {
            $('.btn-number').click(function (e) {
                e.preventDefault();
                fieldName = $(this).attr('data-field');
                type = $(this).attr('data-type');
                var input = $("input[name='" + fieldName + "']");
                var currentVal = parseInt(input.val());
                if (!isNaN(currentVal)) {
                    if (type === 'minus') {
                        if (currentVal > input.attr('min')) {
                            input.val(currentVal - 1).change();
                        }
                        if (parseInt(input.val()) === input.attr('min')) {
                            $(this).attr('disabled', true);
                        }
                    } else if (type === 'plus') {
                        if (currentVal < input.attr('max')) {
                            input.val(currentVal + 1).change();
                        }
                        if (parseInt(input.val()) === input.attr('max')) {
                            $(this).attr('disabled', true);
                        }
                    }
                } else {
                    input.val(0);
                }
            });
            $('.input-number').focusin(function () {
                $(this).data('oldValue', $(this).val());
            });
            $('.input-number').change(function () {
                minValue = parseInt($(this).attr('min'));
                maxValue = parseInt($(this).attr('max'));
                valueCurrent = parseInt($(this).val());
                name = $(this).attr('name');
                if (valueCurrent >= minValue) {
                    $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled');
                } else {
                    alert('Sorry, the minimum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                if (valueCurrent <= maxValue) {
                    $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled');
                } else {
                    alert('Sorry, the maximum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
            });
            $(".input-number").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 || (e.keyCode === 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var precio = parseFloat("@Model.precioventa");
            var descuento = parseFloat("@Model.descuento");
            var precioConDescuento = precio * (1 - descuento / 100);
            if (descuento > 0) {
                var precioAnterior = "<span style='text-decoration: line-through;'>S/" + precio.toFixed(2) + "</span>";
                var nuevoPrecio = "S/ "  + precioConDescuento.toFixed(2);
                var html = nuevoPrecio + precioAnterior;
                $(".price").html(html);
            } else {
                $(".price").text("S/" + precio.toFixed(2));
            }
        });

        // boton carrito
        $(document).on("click", "button.agregarcarrito", function () {
            //console.log($(this).data("idproducto"))
            jQuery.ajax({
                url: "@Url.Action("AgregarCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.respuesta) {
                        mostrarcantidadCarrito();
                        mostrarCarrito();
                        Swal.fire("", "Agregado correctamente", "success");
                    } else {
                        Swal.fire("", data.mensaje, "warning");
                    }
                }
            });
        });

    </script>
}