
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        <!-- Start Single Slider -->
                        <div class="single-slider" style="background-image: url(../assets/img/hero/slider-bg1.jpg);">
                            <div class="content">
                                <h2>
                                    <span>No restocking fee ($35 savings)</span>
                                    M75 Sport Watch
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <h3><span>Now Only</span> $320.99</h3>
                                <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slider -->
                        <!-- Start Single Slider -->
                        <div class="single-slider" style="background-image: url(../assets/img/hero/slider-bg2.jpg);">
                            <div class="content">
                                <h2>
                                    <span>Big Sale Offer</span>
                                    Get the Best Deal on CCTV Camera
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <h3><span>Combo Only:</span> $590.00</h3>
                                <div class="button">
                                    <a href="product-grids.html" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slider -->
                    </div>
                    <!-- End Hero Slider -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner" style="background-image: url('../assets/img/hero/slider-bnr.jpg');">
                            <div class="content">
                                <h2>
                                    <span>New line required</span>
                                    iPhone 12 Pro Max
                                </h2>
                                <h3>$259.99</h3>
                            </div>
                        </div>
                        <!-- End Small Banner -->
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>¡Oferta semanal!</h2>
                                <p>Esta semana ahorra hasta un 50 % en todos los artículos de la tienda online.</p>
                                <div class="button">
                                    <a class="btn" href="@Url.Action("Masproductos", "tienda")">Haz click aqui <i class="lni lni-pointer-top"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Producto de tendencia</h2>
                    <p>
                        Sumérgete en el mundo de la moda urbana con Hawk, una marca
                        que combina estilo y calidad en cada prenda. Dirigida para aquellos
                        que buscan destacar en la ciudad con un estilo único y moderno.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="container_productos">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="~/assets/img/products/product-1.jpg" alt="#">
                        <div class="button">
                            <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">Watches</span>
                        <h4 class="title">
                            <a href="product-grids.html">Xiaomi Mi Band 5</a>
                        </h4>
                        <ul class="review">
                            <li></li>
                        </ul>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container-fluid">
        <div class="row">
            <!-- Categorias y Marcas -->
            <div class="col-md-9">
                <div id="container_productos" class="row row-cols-1 row-cols-md-3 g-3">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Botón de WhatsApp
<div class="floating-button">
    <a href="https://api.whatsapp.com/send?phone=933103242&text=Hola" target="_blank">
        <i class="bi bi-whatsapp"></i>
    </a>
</div>-->

@section scripts {
    <script>
        function changeImage(newSrc) {
            document.getElementById("mainImage").src = newSrc;
        }

        $(document).ready(function () {
            listarCategorias();
            listarMarcas();
            mostrarFiltros(0, 0, 0);
        })

        function listarCategorias() {
            jQuery.ajax({
                url: "@Url.Action("ListaCategorias", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_categoria").LoadingOverlay("hide");
                    $("<div>").addClass("form-check mt-2 text-dark").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "cx" })
                    ).appendTo("#con_categoria")

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check mt-2 text-dark fw-semibold").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.idcategoria, "id": "cat" + i }),
                            $("<label>").addClass("form-check-label").text(element.nombrecategoria).attr({ "for": "cat" + 1 })
                        ).appendTo("#con_categoria")
                    })
                    mostrarTallas();
                },
                beforeSend: function () {
                    $("#con_categoria").LoadingOverlay("show");
                }
            })
        }

        function listarMarcas() {
            jQuery.ajax({
                url: "@Url.Action("FiltroMarca", "Tienda")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_marcas").LoadingOverlay("hide");
                    $("<div>").addClass("form-check mt-2").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marcas", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx" })
                    ).appendTo("#con_marcas")

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check mt-2").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marcas", "value": element.idmarca, "id": "ct" + i }),
                            $("<label>").addClass("form-check-label").text(element.nombremarca).attr({ "for": "ct" + 1 })
                        ).appendTo("#con_marcas")
                    })
                },
                beforeSend: function () {
                    $("#con_marcas").LoadingOverlay("show");
                }
            })
        }

        function mostrarTallas() {
            var _idcategoria = $("input[name=categoria]:checked").val();
            jQuery.ajax({
                url: "@Url.Action("FiltroTallas", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#con_tallas").html("");
                    $("#con_tallas").LoadingOverlay("hide");
                    $("<div>").addClass("form-check mt-2").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "tallasropa", "value": "0", "id": "tx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "tx" })
                    ).appendTo("#con_tallas")

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check mt-2").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "tallasropa", "value": element.idtallaropa, "id": "t" + i }),
                            $("<label>").addClass("form-check-label").text(element.nombretalla).attr({ "for": "t" + 1 })
                        ).appendTo("#con_tallas")
                    })
                },
                beforeSend: function () {
                    $("#con_tallas").LoadingOverlay("show");
                }
            })
        }

        $(document).on("change", "input[name=categoria]", function () {
            mostrarTallas();
        })

        function mostrarFiltros(_idcategoria, _idmarca, _idtallaropa) {
            jQuery.ajax({
                url: "@Url.Action("listarProductos", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria, idmarca: _idmarca, idtallaropa: _idtallaropa }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#container_productos").html("");
                    $("#container_productos").LoadingOverlay("hide");

                    if (response.data.length === 0) {
                        $("<section>").addClass("section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center").append(
                            $("<h2>").addClass("text-center").text("Error al encontrar los productos"),
                            $("<h5>").addClass("text-center").text("El producto que estás buscando no existe")
                        ).appendTo("#container_productos")
                    } else {
                        var shuffledProducts = response.data.sort(() => Math.random() - 0.5).slice(0, 6); // Obtener una muestra aleatoria de 6 productos
                        $.each(shuffledProducts, function (i, element) {
                            var imagenSrc;
                            if (element.Extension && element.base64) {
                                imagenSrc = "data:image/" + element.Extension + ";base64," + element.base64;
                            } else {
                                imagenSrc = "assets/img/logovalent.png";
                            }

                            $("<div>").addClass("col-lg-4 col-md-6 col-12").append(
                                $("<div>").addClass("single-product").append(
                                    $("<div>").addClass("product-image").append(
                                        $("<img>").addClass("card-img-top rounded-4").attr({ "src": imagenSrc, "height": "230" }),
                                        (element.descuento > 0) ? $("<div>").addClass("sale-tag bg-success").text("-" + element.descuento + " %") : null,
                                        $("<div>").addClass("button").append(
                                            $("<a>").addClass("btn btn-outline-dark").attr("href", "@Url.Action("Masproductos", "Tienda")").append(
                                                $("<i>").addClass("lni lni-search").css("margin-right", "5px"),
                                                "Ver Mas"
                                            )
                                        )
                                    ),
                                    $("<div>").addClass("product-info").append(
                                        $("<div>").addClass("category").text(element.codigo),
                                        $("<h4>").addClass("title").append(
                                            $("<a>").attr("href", "@Url.Action("DetalleProducto", "Tienda")" + "?idproducto=" + element.idproducto).text(element.nombre)
                                        ),
                                        $("<div>").addClass("price").append(
                                            $("<span>").text(" S/ " + element.precioventa.toFixed(2))
                                        )
                                    )
                                )
                            ).appendTo("#container_productos");
                        });
                    }
                },
                beforeSend: function () {
                    $("#container_productos").LoadingOverlay("show");
                }
            });
        }

        $("#btn_aplicarfiltro").click(function () {
            var _idcategoria = $("input[name=categoria]:checked").val()
            var _idmarca = $("input[name=marcas]:checked").val()
            var _idtallaropa = $("input[name=tallasropa]:checked").val()
            mostrarFiltros(_idcategoria, _idmarca, _idtallaropa)
        })

    </script>
}
