
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home section--lg">
    <div class="home__container container grid">
        <div class="home__content">
            <span class="home__subtitle">Hot promocion</span>
            <h1 class="home__title">
                Tendencias de moda &nbsp;<span>Gran Colección</span>
            </h1>
            <p class="home__descripcion">Ahorre más con hasta un 20% de descuento</p>
            @if (Session["cliente"] != null)
            {
                <a href="@Url.Action("Masproductos", "Tienda")" class="btn">Comprar Ahora</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Login")" class="btn">Comprar Ahora</a>
            }
        </div>
        <img src="~/Assets/img/home-img.png" alt="" class="home__img" />
    </div>
</section>

<section class="categories container section">
    <h3 class="section__title"><span>Categorias</span> Pulares</h3>
    <div class="categories__container swiper">
        <div class="swiper-wrapper">
            <a href="@Url.Action("DamasAdultas", "productoscategorias")" class="category__item swiper-slide">
                <img src="~/Assets/img/productos/product-12-1.jpg" alt="" class="category__img" />
                <h3 class="category__title">Damas</h3>
            </a>
            <a href="@Url.Action("CaballerosAdultos", "productoscategorias")" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-2.jpg" alt="" class="category__img" />
                <h3 class="category__title">Caballeros</h3>
            </a>
            <a href="@Url.Action("Niños", "productoscategorias")" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-3.jpg" alt="" class="category__img" />
                <h3 class="category__title">Niños</h3>
            </a>
            <a href="@Url.Action("CaballerosJuveniles", "productoscategorias")" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-4.jpg" alt="" class="category__img" />
                <h3 class="category__title">Caballeros Juveniles</h3>
            </a>
            <a href="@Url.Action("DamasJuveniles", "productoscategorias")" class="category__item swiper-slide">
                <img src="~/Assets/img/category/category-5.jpg" alt="" class="category__img" />
                <h3 class="category__title">Damas Juveniles</h3>
            </a>
        </div>
        <div class="swiper-button-next"><i class="figure fi-rs-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="figure fi-rs-angle-left"></i></div>
    </div>
</section>

<section class="productos section container">
    <div class="tab__btns">
        <span class="tab__btn active-tab" data-target="#destacado">Destacado</span>
        <span class="tab__btn" data-target="#popular">Descuento</span>
        <span class="tab__btn" data-target="#reciente">Recien Añadido</span>
        <a href="@Url.Action("Masproductos", "Tienda")" class="tab__btn">Ver todos los productos</a>
    </div>
    <div class="tab__items">
        <div class="tab__item active-tab" content id="destacado">
            <p class="total__products">Se han encontrado <span>0</span> productos</p>
            <div class="products__container grid" id="container_productos">

            </div>

            <ul class="pagination" id="pagination">
                <li><a href="#" class="pagination__link active">01</a></li>
                <li><a href="#" class="pagination__link">02</a></li>
                <li><a href="#" class="pagination__link">...</a></li>
                <li><a href="#" class="pagination__link">06</a></li>
                <li>
                    <a href="#" class="pagination__link icon">
                        <i class="fi-rs-angle-double-small-right"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab__item" content id="popular">
            <div class="products__container grid" id="container_popular">

            </div>
            <ul class="pagination" id="paginationpopular">
                <li><a href="#" class="pagination__link active">01</a></li>
                <li><a href="#" class="pagination__link">02</a></li>
                <li><a href="#" class="pagination__link">...</a></li>
                <li><a href="#" class="pagination__link">06</a></li>
                <li>
                    <a href="#" class="pagination__link icon">
                        <i class="fi-rs-angle-double-small-right"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab__item" content id="reciente">
            <div class="products__container grid" id="container_reciente">

            </div>
            <ul class="pagination" id="paginationreciente">
                <li><a href="#" class="pagination__link active">01</a></li>
                <li><a href="#" class="pagination__link">02</a></li>
                <li><a href="#" class="pagination__link">...</a></li>
                <li><a href="#" class="pagination__link">06</a></li>
                <li>
                    <a href="#" class="pagination__link icon">
                        <i class="fi-rs-angle-double-small-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    
    </div>

    
</section>

<section class="deals section">
    <div class="deals__container container grid">
        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Oferta del Dia</h3>
                <span class="deals__category">cantidades Limitadas</span>
            </div>
            <h4 class="deals__title">Summer collection New Morden Design</h4>
            <div class="deals__price flex">
                <span class="new__price">S/. 150.00</span>
                <span class="old__price">S/. 80.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry up! Oferta termina en: </p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Dias</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Horas</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">30</p>
                        <span class="unit">Minutos</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">09</p>
                        <span class="unit">Segundos</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="" class="btn btn--md">Compra Ahora</a>
            </div>
        </div>

        <div class="deals__item">
            <div class="deals__group">
                <h3 class="deals__brand">Women clothing</h3>
                <span class="deals__category">cantidades Limitadas</span>
            </div>
            <h4 class="deals__title">Summer collection New Morden Design</h4>
            <div class="deals__price flex">
                <span class="new__price">S/. 150.00</span>
                <span class="old__price">S/. 80.99</span>
            </div>
            <div class="deals__group">
                <p class="deals__countdown-text">Hurry up! Oferta termina en: </p>
                <div class="countdown">
                    <div class="countdown__amount">
                        <p class="countdown__period">02</p>
                        <span class="unit">Dias</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">22</p>
                        <span class="unit">Horas</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">30</p>
                        <span class="unit">Minutos</span>
                    </div>

                    <div class="countdown__amount">
                        <p class="countdown__period">09</p>
                        <span class="unit">Segundos</span>
                    </div>
                </div>
            </div>
            <div class="deals__btn">
                <a href="" class="btn btn--md">Compra Ahora</a>
            </div>
        </div>
    </div>
</section>

<section class="new__arrivals container section">
    <h3 class="section__title"><span>Nuevas</span> Prendas</h3>
    <div class="new__container swiper">
        <div class="swiper-wrapper">
            <div class="product__item swiper-slide">
                <div class="product__banner">
                    <a href="" class="product__images">
                        <img src="~/Assets/img/productos/product-1-1.jpg" alt="" class="product__img default" />
                        <img src="~/Assets/img/productos/product-1-2.jpg" alt="" class="product__img hover" />
                    </a>
                    <div class="product__actions">
                        <a href="" class="action__btn" aria-label="Vista Rapida">
                            <i class="fi fi-rs-eye"></i>
                        </a>
                        <a href="" class="action__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="product__badge ligt-pink">hot</div>
                </div>

                <div class="product__content">
                    <span class="product__category">clothing</span>
                    <a href="">
                        <h3 class="product__title">Polo hongeadito</h3>
                    </a>
                    <div class="product__price flex">
                        <span class="new__price">S/.30.00</span>
                        <span class="old__price">S/.56.50</span>
                    </div>
                    <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item swiper-slide">
                <div class="product__banner">
                    <a href="" class="product__images">
                        <img src="~/Assets/img/productos/product-2-1.jpg" alt="" class="product__img default" />
                        <img src="~/Assets/img/productos/product-2-2.jpg" alt="" class="product__img hover" />
                    </a>
                    <div class="product__actions">
                        <a href="" class="action__btn" aria-label="Vista Rapida">
                            <i class="fi fi-rs-eye"></i>
                        </a>
                        <a href="" class="action__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="product__badge ligt-green">-20%</div>
                </div>

                <div class="product__content">
                    <span class="product__category">clothing</span>
                    <a href="">
                        <h3 class="product__title">Polo hongeadito</h3>
                    </a>

                    <div class="product__price flex">
                        <span class="new__price">S/.30.00</span>
                        <span class="old__price">S/.56.50</span>
                    </div>
                    <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item swiper-slide">
                <div class="product__banner">
                    <a href="" class="product__images">
                        <img src="~/Assets/img/productos/product-12-1.jpg" alt="" class="product__img default" />
                        <img src="~/Assets/img/productos/product-12-2.jpg" alt="" class="product__img hover" />
                    </a>
                    <div class="product__actions">
                        <a href="" class="action__btn" aria-label="Vista Rapida">
                            <i class="fi fi-rs-eye"></i>
                        </a>
                        <a href="" class="action__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="product__badge ligt-orange">recien agregados</div>
                </div>

                <div class="product__content">
                    <span class="product__category">clothing</span>
                    <a href="">
                        <h3 class="product__title">Polo hongeadito</h3>
                    </a>
                    <div class="product__price flex">
                        <span class="new__price">S/.30.00</span>
                        <span class="old__price">S/.56.50</span>
                    </div>
                    <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item swiper-slide">
                <div class="product__banner">
                    <a href="" class="product__images">
                        <img src="~/Assets/img/productos/product-13-1.jpg" alt="" class="product__img default" />
                        <img src="~/Assets/img/productos/product-13-2.jpg" alt="" class="product__img hover" />
                    </a>
                    <div class="product__actions">
                        <a href="" class="action__btn" aria-label="Vista Rapida">
                            <i class="fi fi-rs-eye"></i>
                        </a>
                        <a href="" class="action__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="product__badge ligt-green">hot</div>
                </div>

                <div class="product__content">
                    <span class="product__category">clothing</span>
                    <a href="">
                        <h3 class="product__title">Polo hongeadito</h3>
                    </a>
                    <div class="product__price flex">
                        <span class="new__price">S/.30.00</span>
                        <span class="old__price">S/.56.50</span>
                    </div>
                    <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item swiper-slide">
                <div class="product__banner">
                    <a href="" class="product__images">
                        <img src="~/Assets/img/productos/product-5-1.jpg" alt="" class="product__img default" />
                        <img src="~/Assets/img/productos/product-5-2.jpg" alt="" class="product__img hover" />
                    </a>
                    <div class="product__actions">
                        <a href="" class="action__btn" aria-label="Vista Rapida">
                            <i class="fi fi-rs-eye"></i>
                        </a>
                        <a href="" class="action__btn" aria-label="Agregar al carrito">
                            <i class="fi fi-rs-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="product__badge ligt-green">hot</div>
                </div>

                <div class="product__content">
                    <span class="product__category">clothing</span>
                    <a href="">
                        <h3 class="product__title">Polo hongeadito</h3>
                    </a>
                    <div class="product__price flex">
                        <span class="new__price">S/.30.00</span>
                        <span class="old__price">S/.56.50</span>
                    </div>
                    <a href="" class="action__btn cart__btn" aria-label="Agregar al carrito">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"><i class="figure fi-rs-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="figure fi-rs-angle-left"></i></div>
    </div>
</section>

<section class="newsletter section home__newsletter">
    <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
            <img src="~/Assets/img/icon-email.svg" alt="" class="newsletter__icon" />
            Suscríbete para que recibas
        </h3>
        <p class="newsletter__description">
            nuestras tendencias y novedades que tenemos para ti &#x1FAF5; &nbsp; &#x1F609;
        </p>
        <form action="" class="newsletter__form">
            <input type="email" placeholder="Ingresa tu correo" class="newsletter__input" />
            <button type="submit" class="newsletter__btn">Suscribete</button>
        </form>
    </div>
</section>

@section scripts {
    <script>
        function changeImage(newSrc) {
            document.getElementById("mainImage").src = newSrc;
        }

        $(document).ready(function () {
            mostrarFiltros();
        });

        function mostrarFiltros(page = 1) {
            const idCategoria = 0;
            const idMarca = 0;
            const idTallaRopa = 0;

            $.ajax({
                url: '@Url.Action("listarInicioProductos", "Tienda")',
                type: 'POST',
                data: {
                    idcategoria: idCategoria,
                    idmarca: idMarca,
                    idtallaropa: idTallaRopa,
                    page: page
                },
                success: function (response) {
                    $("#container_productos").LoadingOverlay("hide");
                    $("#container_productos").empty();

                    $(".total__products span").text(response.totalItems);

                    if (response.data.length === 0) {
                        $("<section>").addClass("section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center").append(
                            $("<h2>").addClass("text-center").text("Error al encontrar los productos"),
                            $("<h5>").addClass("text-center").text("El producto que estás buscando no existe")
                        ).appendTo("#container_productos");
                    } else {
                        $.each(response.data, function (i, element) {
                            var imagenSrc = element.Extension && element.base64
                                ? "data:image/" + element.Extension + ";base64," + element.base64
                                : "../assets/img/logovalent.png";

                            var imagenhover = element.Extension2 && element.base2
                                ? "data:image/" + element.Extension2 + ";base64," + element.base2
                                : "../assets/img/logovalent.png";

                            var precioVenta = element.precioventa;
                            var descuento = element.descuento;
                            var precioDescontado = precioVenta - (precioVenta * (descuento / 100));

                            $("<div>").addClass("product__item").append(
                                $("<div>").addClass("product__banner").append(
                                    $("<a>").attr("href", "" + element.idproducto).addClass("product__images").append(
                                        $("<img>").addClass("product__img default").attr({ "src": imagenSrc }),
                                        $("<img>").addClass("product__img hover").attr({ "src": imagenhover })
                                    ),
                                    $("<div>").addClass("product__actions").append(
                                        $("<a>").attr("href", "@Url.Action("DetalleProducto", "Tienda")" + "?idproducto=" + element.idproducto).addClass("action__btn").attr("aria-label", "Vista Rápida").append(
                                            $("<i>").addClass("fi fi-rs-eye")
                                        ),
                                        @if (Session["cliente"] != null)
                                        {
                                            @:$("<a>").attr("href", "").addClass("action__btn agregarcarrito").attr("aria-label", "Agregar al carrito").append( $("<i>").addClass("fi fi-rs-shopping-cart") )
                                        }
                                    ),
                                    (descuento > 0) ? $("<div>").addClass("product__badge ligt-green").text("-" + descuento + " %") : null
                                ),
                                $("<div>").addClass("product__content").append(
                                    $("<span>").addClass("product__category").text(element.codigo),
                                    $("<a>").attr("href", "").append(
                                        $("<h3>").addClass("product__title").text(element.nombre)
                                    ),
                                    $("<div>").addClass("product__price flex").append(
                                        (descuento > 0)
                                            ? [
                                                $("<span>").addClass("new__price").text("S/ " + precioDescontado.toFixed(2)),
                                                $("<span>").addClass("old__price").text("S/ " + precioVenta.toFixed(2)).css("text-decoration", "line-through")
                                            ]
                                            : $("<span>").addClass("new__price").text("S/ " + precioVenta.toFixed(2))
                                    ),
                                    @if (Session["cliente"] != null)
                                    {
                                        @:$("<a>").attr("href", "").addClass("action__btn cart__btn agregarcarrito").attr("aria-label", "Agregar al carrito").append($("<i>").addClass("fi fi-rs-shopping-bag-add"))
                                    } else
                                    {
                                        @:$("<a>").attr("href", "@Url.Action("Index", "Login")").addClass("action__btn cart__btn agregarcarrito").attr("aria-label", "Agregar al carrito").append($("<i>").addClass("fi fi-rs-shopping-bag-add"))
                                    }
                                )
                            ).appendTo("#container_productos");
                        });

                        generarPaginacion(response.totalPages, page);
                    }
                }
            });
        }

        function generarPaginacion(totalPages, currentPage) {
            // Limpiar paginador
            $('#pagination').empty();

            // Agregar enlaces de páginas
            for (let i = 1; i <= totalPages; i++) {
                $('#pagination').append(`
                    <li>
                        <a href="#" class="pagination__link ${i === currentPage ? 'active' : ''}" data-page="${i}">
                            ${i < 10 ? '0' + i : i}
                        </a>
                    </li>
                `);
            }

            // Agregar evento para los enlaces
            $('#pagination .pagination__link').on('click', function (e) {
                e.preventDefault();
                let selectedPage = $(this).data('page');
                mostrarFiltros(selectedPage);
            });
        }

    </script>
}